:root {
    --Blue-gray-900: #0F172A;
    --Blue-gray-600: #475569;
    --Blue-gray-200: #E2E8F0;
    --White: #FFFFFF;
    --Blue-600: #2563EB;
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Roboto-ExBold', sans-serif;
}