.btn {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 12px 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.btn:hover {
    background-color: rgb(187, 187, 187);
}